<a href="https://colab.research.google.com/github/Alexsinator/Challenge_Telecom_X_Parte2/blob/main/TelecomX_LATAM_Parte_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
datos = pd.read_csv('/content/datos_tratados.csv')

# Lectura de los datos

In [8]:
datos

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total,Cuentas_Diarias
0,0002-ORFBO,No,Female,No,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30,2.186667
1,0003-MKNFE,No,Male,No,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40,1.996667
2,0004-TLHLJ,Yes,Male,No,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85,2.463333
3,0011-IGKFF,Yes,Male,Si,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85,3.266667
4,0013-EXCHZ,Yes,Female,Si,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40,2.796667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,No,Female,No,No,No,13,Yes,No,DSL,...,No,Yes,No,No,One year,No,Mailed check,55.15,742.90,1.838333
7039,9992-RRAMN,Yes,Male,No,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70,2.836667
7040,9992-UJOEL,No,Male,No,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75,1.676667
7041,9993-LHIEB,No,Male,No,Yes,Yes,67,Yes,No,DSL,...,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65,2.261667
7042,9995-HOTOH,No,Male,No,Yes,Yes,63,No,No phone service,DSL,...,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60,1.966667

In [3]:
datos.shape

(7043, 22)

In [4]:
datos.describe()

,customer.tenure,account.Charges.Monthly,account.Charges.Total,Cuentas_Diarias
count,7043.000000,7043.000000,7032.000000,7043.000000
mean,32.371149,64.761692,2283.300441,2.158723
std,24.559481,30.090047,2266.771362,1.003002
min,0.000000,18.250000,18.800000,0.608333
25%,9.000000,35.500000,401.450000,1.183333
50%,29.000000,70.350000,1397.475000,2.345000
75%,55.000000,89.850000,3794.737500,2.995000
max,72.000000,118.750000,8684.800000,3.958333

In [5]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7043 non-null   object
 1   Churn                      7043 non-null   object
 2   customer.gender            7043 non-null   object
 3   customer.SeniorCitizen     7043 non-null   object
 4   customer.Partner           7043 non-null   object
 5   customer.Dependents        7043 non-null   object
 6   customer.tenure            7043 non-null   int64
 7   phone.PhoneService         7043 non-null   object
 8   phone.MultipleLines        7043 non-null   object
 9   internet.InternetService   7043 non-null   object
 10  internet.OnlineSecurity    7043 non-null   object
 11  internet.OnlineBackup      7043 non-null   object
 12  internet.DeviceProtection  7043 non-null   object
 13  internet.TechSupport       7043 non-null   object
 14  internet.StreamingTV       7043 non-null   object
 15  internet.StreamingMovies   7043 non-null   object
 16  account.Contract           7043 non-null   object
 17  account.PaperlessBilling   7043 non-null   object
 18  account.PaymentMethod      7043 non-null   object
 19  account.Charges.Monthly    7043 non-null   float64
 20  account.Charges.Total      7032 non-null   float64
 21  Cuentas_Diarias            7043 non-null   float64
dtypes: float64(3), int64(1), object(18)
memory usage: 1.2+ MB

## Análisis de los datos

In [19]:
datos['phone.MultipleLines'].value_counts()

phone.MultipleLines
No                  3390
Yes                 2971
No phone service     682
Name: count, dtype: int64

In [15]:
datos['internet.InternetService'].value_counts()

internet.InternetService
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64

In [17]:
datos['internet.OnlineSecurity'].value_counts()

internet.OnlineSecurity
No                     3498
Yes                    2019
No internet service    1526
Name: count, dtype: int64

In [18]:
datos['internet.OnlineBackup'].value_counts()

internet.OnlineBackup
No                     3088
Yes                    2429
No internet service    1526
Name: count, dtype: int64

In [20]:
datos['internet.DeviceProtection'].value_counts()

internet.DeviceProtection
No                     3095
Yes                    2422
No internet service    1526
Name: count, dtype: int64

In [21]:
datos['internet.DeviceProtection'].value_counts()

internet.DeviceProtection
No                     3095
Yes                    2422
No internet service    1526
Name: count, dtype: int64

In [22]:
datos['internet.TechSupport'].value_counts()

internet.TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64

In [23]:
datos['internet.TechSupport'].value_counts()

internet.TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64

In [24]:
datos['internet.StreamingTV'].value_counts()

internet.StreamingTV
No                     2810
Yes                    2707
No internet service    1526
Name: count, dtype: int64

In [25]:
datos['internet.StreamingMovies'].value_counts()

internet.StreamingMovies
No                     2785
Yes                    2732
No internet service    1526
Name: count, dtype: int64

### Revisión de consistencia de datos

In [29]:
columnas_a_verificar = ['internet.OnlineSecurity', 'internet.OnlineBackup', 'internet.DeviceProtection', 'internet.TechSupport', 'internet.StreamingTV', 'internet.StreamingMovies']

In [28]:
for No_internet_service, col_referencia
datos[(datos['internet.InternetService'] == 'No internet service') & (datos['internet.OnlineSecurity'] == 'Yes')]

Empty DataFrame
Columns: [customerID, Churn, customer.gender, customer.SeniorCitizen, customer.Partner, customer.Dependents, customer.tenure, phone.PhoneService, phone.MultipleLines, internet.InternetService, internet.OnlineSecurity, internet.OnlineBackup, internet.DeviceProtection, internet.TechSupport, internet.StreamingTV, internet.StreamingMovies, account.Contract, account.PaperlessBilling, account.PaymentMethod, account.Charges.Monthly, account.Charges.Total, Cuentas_Diarias]
Index: []

[0 rows x 22 columns]

##Tratamiento de los datos

In [27]:
datos.tail(15)

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total,Cuentas_Diarias
7028,9972-EWRJS,No,Female,No,Yes,Yes,67,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),19.25,1372.90,0.641667
7029,9972-NKTFD,No,Female,No,No,No,28,Yes,No,DSL,...,No,Yes,No,No,Month-to-month,No,Bank transfer (automatic),54.65,1517.50,1.821667
7030,9972-VAFJJ,No,Female,Si,Yes,No,53,Yes,No,Fiber optic,...,Yes,Yes,Yes,No,One year,Yes,Electronic check,94.00,4871.45,3.133333
7031,9974-JFBHQ,No,Male,No,No,Yes,64,Yes,No,Fiber optic,...,No,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),99.15,6171.20,3.305000
7032,9975-GPKZU,No,Male,No,Yes,Yes,46,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),19.75,856.50,0.658333
7033,9975-SKRNR,No,Male,No,No,No,1,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,18.90,18.90,0.630000
7034,9978-HYCIN,No,Male,Si,Yes,Yes,47,Yes,No,Fiber optic,...,No,No,Yes,No,One year,Yes,Bank transfer (automatic),84.95,4018.05,2.831667
7035,9979-RGMZT,No,Female,No,No,No,7,Yes,No,Fiber optic,...,No,No,Yes,Yes,One year,Yes,Mailed check,94.05,633.45,3.135000
7036,9985-MWVIX,Yes,Female,No,No,No,1,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Mailed check,70.15,70.15,2.338333
7037,9986-BONCE,Yes,Female,No,No,No,4,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Bank transfer (automatic),20.95,85.50,0.698333
7038,9987-LUTYD,No,Female,No,No,No,13,Yes,No,DSL,...,No,Yes,No,No,One year,No,Mailed check,55.15,742.90,1.838333
7039,9992-RRAMN,Yes,Male,No,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70,2.836667
7040,9992-UJOEL,No,Male,No,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75,1.676667
7041,9993-LHIEB,No,Male,No,Yes,Yes,67,Yes,No,DSL,...,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65,2.261667
7042,9995-HOTOH,No,Male,No,Yes,Yes,63,No,No phone service,DSL,...,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60,1.966667

In [ ]:
datos['customer.gender'] = datos['customer.gender'].replace({0: 'Male', 1: 'Female'})
datos['customer.SeniorCitizen'] = datos['customer.SeniorCitizen'].replace({0: 'No', 1: 'Si'})
datos['customer.Partner'] = datos['customer.Partner'].replace({0: 'No', 1: 'Yes'})
datos['customer.Dependents'] = datos['customer.Dependents'].replace({0: 'No', 1: 'Yes'})
datos['customer.PhoneService'] = datos['customer.PhoneService'].replace({0: 'No', 1: 'Yes'})
datos['customer.MultipleLines'] = datos['customer.MultipleLines'].replace({0: 'No', 1: 'Yes', 2: 'No phone service'})
datos['customer.InternetService'] = datos['customer.InternetService'].replace({0: 'No', 1: 'Yes', 2: 'No internet service'})
datos['customer.OnlineSecurity'] = datos['customer.OnlineSecurity'].replace({0: 'No', 1: 'Yes', 2: 'No internet service'})
datos['customer.OnlineBackup'] = datos['customer.OnlineBackup'].replace({0: 'No', 1: 'Yes', 2: 'No internet service'})
datos['customer.DeviceProtection'] = datos['customer.DeviceProtection'].replace({0: 'No', 1: 'Yes', 2: 'No internet service'})
datos['customer.TechSupport'] = datos['customer.TechSupport'].replace({0: 'No', 1: 'Yes', 2: 'No internet service'})
datos['customer.StreamingTV'] = datos['customer.StreamingTV'].replace({0: 'No', 1: 'Yes', 2: 'No internet service'})
datos['customer.StreamingMovies'] = datos['customer.StreamingMovies'].replace({0: 'No', 1: 'Yes', 2: 'No internet service'})
datos['customer.Contract'] = datos['customer.Contract'].replace({0: 'Month-to-month', 1: 'One year', 2: 'Two year'})
datos['customer.PaperlessBilling'] = datos['customer.PaperlessBilling'].replace({0: 'No', 1: 'Yes'})

In [ ]:
categoricas = ['customer.PaymentMethod', ]
datos['customer.PaymentMethod'] = datos['customer.PaymentMethod'].replace({0: 'Electronic check', 1: 'Mailed check', 2: 'Bank transfer (automatic)', 3: 'Credit card (automatic)'})
datos